.main{
    width: 100%;
}
.Settings{
    width: 90%;
    max-width: 900px;
    padding: 20px;
    margin: auto;
    /* background: rgba(0,0,0,0.1); */
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    min-height: 300px;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.ProfileImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    position: relative;
}

.ProfileImage::after{
    content: 'Change Profile';
    position: absolute;
    color: white;
    background: rgba(0,0,0,0.4);
    height: 250px;
    width: 250px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
}

.ProfileImage:hover::after{
    opacity: 1;
}

.ProfileImage span{
    /* padding-bottom: 4px; */
    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin-top: 10px;
}

.ProfileImage span:hover{
    border-bottom: 1px solid black;
}

.ProfileImage img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    /* background: rgba(0,0,0,0.2); */
    object-fit: cover;
}

.Settings .textContent{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    flex-grow: 1;
}

.Settings .textContent> div{
    margin-bottom: 5px;
}

.Settings .textContent button{
    border: none;
    outline: none;
    padding: 15px 40px;
    color: white;
    font-size: 16px;
    width: 150px;
    border-radius: 2px;
    background-color: var(--main-blue);
}

.Settings .textContent .Field{
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
}

.Settings .textContent .Field .span{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    /*  max-width: 70%;
    flex-grow: 1; */
    flex-grow: 1;
}

.Settings .textContent .Field h3{
    width: 100px;
    font-size: 18px;
    /* text-align: end; */
}

.TheBTNs{
    display: flex;
    margin-top: 10px;
}
.TheBTNs button{
    margin-right: 10px;
}

#ViewHidePassword{
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}
#ViewHidePassword:hover{
    background-color: rgba(0,0,0,0.2);
}


.smallSettings{
    flex-direction: column;
    
}

.smallSettings .ProfileImage{
    margin: 0;
    margin-bottom: 20px;
}

/* Why not */

/* .main{
    width: 100%;
}
.Settings{
    width: fit-content;
    min-width: 730px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    min-height: 300px;
    align-items: center;
    flex-direction: column;
}

.ProfileImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileImage span{
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.ProfileImage span:hover{
    border-bottom: 1px solid black;
}

.ProfileImage img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    
}

.Settings .textContent{
    display: flex;
    flex-direction: column;
}

.Settings .textContent> div{
    margin-bottom: 5px;
}

.Settings .textContent button{
    border: none;
    outline: none;
    padding: 15px 40px;
    color: white;
    font-size: 16px;
    width: 150px;
    border-radius: 2px;
    background-color: var(--main-blue);
}

.Settings .textContent .Field{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.Settings .textContent .Field .span{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: end;
    width: 200px;
}

.Settings .textContent .Field h3{
    font-size: 18px;
} */
